@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: red;  
    position: relative;
}

                            /* windows-start-drawer */
.box-1{
    height: 94.7vh;
    width: 320px;
    /* background-color:chartreuse; */
    transition:all 500ms ease-in-out;
}

.windows-start-drawer{
    position: relative;
}

                            /* left-system-mennu */

.left-system-menu{
    float: left;
    height: 94.7vh;
    width: 60px;
    background-color:rgb(39, 37, 37);
    position:relative;
}

.system-icon-pd{
    padding: 16px 17px;
    color: #fff;
}

.system-user-profile{
    height: 250px;
    width: 50px;
    position:absolute;
    bottom: 0;
    padding: 10px 0;
}

.system-user-profile .icon-btn{
    padding: 13.4px 15px;
    border: none;
    outline: none;
    background-color:inherit;
}

.system-user-profile .icon-btn:hover{
    background-color: #333;
}

.system-user-profile img{
    border: 1px solid #333;
    border-radius: 50%;
}

.document-icon-sys{
    padding: 3px 3.5px;
    color: #fff;
    font-size: 17px;
}

.img-btn{
    padding: 3px 1px;
    font-size: 18px;
    color: #fff;
}

.setting-btn{
    padding: 0 1.5px;
    color: #fff;
    font-size: 17px;
}

.power-btn{
    padding: 0 1.5px;
    font-size: 17px;
    color: #fff;
}

.system-menu-icons-pad:hover{
    background-color: #333;
}

.system-icon-pd:hover{
    background-color:#333;
}

.right-system-menu-tray{
    float: right;
    width: 260px;
    height:94.7vh;
    overflow-y: scroll;
    background-color: rgb(39, 37, 37);
}

.right-system-menu-tray::-webkit-scrollbar{
    width: 2px;
    border-radius: 20px;
  }

  ::-webkit-scrollbar:hover{
      width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

                            /* windows start hover menu  */
.windows-start-hover-menu{
    position:absolute;
    top: 0;
    left: 0;
    width: 250px;
    height:93.7vh;
    background-color: rgb(39, 37, 37);
    display:none;
}

.humburger-menu{
    color:#fff;
}

.humburger-menu:hover{
    background-color: #333;
    color: #fff;
}

.sys-hover-profile{
    height: 250px;
    width: 250px;
    position:absolute;
    bottom: 0;
    padding: 10px 0;
}

.sys-user-profile{
    background-color: rgb(39, 37, 37);
    color: #fff;
}

.icon-name{
    font-family: 'KoHo', sans-serif;
    font-size: 17px;
}

.sys-user-profile:hover{
    background-color: #333;
}
                            /* Windows pannel */
.windows-pannel{
    position:fixed;
    bottom: 0;
    height: 35px;
    width: 100vw;
    background-color:#333;
    /* opacity: 0; */
    transition: all 500ms ease-in-out;
}

.window-logo{
    border:0;
    outline:0;
    background-color:inherit;
    color: #fff;
}

.windows-pannel:hover{
    opacity: 10;
}
                            /* app icon */
.app-icon{
    height: 35px;
    width: 84.5%;
    overflow: hidden;
    float: left;
}

.app-icon .bg-color:hover{
    background-color: rgb(73, 71, 71);
}

.app-icon > .pd-app{
    padding: 10px 10px;
}
.app-icon > i {
    color: #ffff;
}

.app-icon > .window-logo:hover{
    color: rgb(250, 59, 97);
    
}

.app-icon .search{
    transform: rotate(90deg);
}

.app-icon .bg-hover{
    border-bottom: 2px solid rgb(250, 59, 97);
    padding: 7px 10px;
    font-size: 17px;
}

.app-icon .folder{
    color: yellow;
}

.app-icon .chrome{
    color: rgb(0, 204, 255);
}

.app-icon .store{
    border: none !important;
}
                            /* System icon */
.system-icon{
    height: 35px;
    width: 15.5%;
    overflow:hidden;
    float: right;
}

.system-icon  .pd-system{
    padding: 10px 7px;
}

.system-icon i{
    color: #ffff;
    font-size: 15px;
}

.system-icon .btn-prps{
    outline: 0;
    border: 0;
    background-color: #333;
}

.system-icon .bg-sys-color:hover{
    background-color: rgb(73, 71, 71);
}

.wi-fi-con{
    transform: rotate(-45deg);
}

#time{
    color: #ffff;
}

.windows-pannel::after{
    content: "";
    clear: both;
    display: table;
}