@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    background: url('img/watchdog_legion.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

                            /* windows-start-drawer */
.box-1{
    height: 94.7vh;
    width: 320px;
    transition:all 500ms ease-in-out;
}

.windows-start-drawer{
    position: relative;
}
                            /* left-system-mennu */

.left-system-menu{
    float: left;
    height: 94.7vh;
    width: 60px;
    background-color:rgb(39, 37, 37);
    position:relative;
}

.system-icon-pd{
    padding: 16px 17px;
    color: #fff;
}

.system-user-profile{
    height: 250px;
    width: 50px;
    position:absolute;
    bottom: 0;
    padding: 10px 0;
}

.system-user-profile .icon-btn{
    padding: 13.4px 15px;
    border: none;
    outline: none;
    background-color:inherit;
}

.system-user-profile .icon-btn:hover{
    background-color: #333;
}

.system-user-profile img{
    border: 1px solid #333;
    border-radius: 50%;
}

.document-icon-sys{
    padding: 3px 3.5px;
    color: #fff;
    font-size: 17px;
}

.img-btn{
    padding: 3px 1px;
    font-size: 18px;
    color: #fff;
}

.setting-btn{
    padding: 0 1.5px;
    color: #fff;
    font-size: 17px;
}

.power-btn{
    padding: 0 1.5px;
    font-size: 17px;
    color: #fff;
}

.system-menu-icons-pad:hover{
    background-color: #333;
}

.system-icon-pd:hover{
    background-color:#333;
}

                            /* windows start hover menu  */
.windows-start-hover-menu{
    position:absolute;
    top: 0;
    left: 0;
    width: 250px;
    height:94.7vh;
    background-color: rgb(39, 37, 37);
    display:none;
}

.humburger-menu{
    color:#fff;
}

.humburger-menu:hover{
    background-color: #333;
    color: #fff;
}

.sys-hover-profile{
    height: 250px;
    width: 250px;
    position:absolute;
    bottom: 0;
    padding: 10px 0;
}

.sys-user-profile{
    background-color: rgb(39, 37, 37);
    color: #fff;
}

.icon-name{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color: #fff;
}

.hamburger-menu-name{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.sys-user-profile:hover{
    background-color: #333;
}
                            /* Windows pannel */
.windows-pannel{
    position:fixed;
    bottom: 0;
    height: 35px;
    width: 100vw;
    background-color:#333;
    /* opacity: 0; */
    transition: all 500ms ease-in-out;
}

.window-logo{
    border:0;
    outline:0;
    background-color:inherit;
    color: #fff;
}

.windows-pannel:hover{
    opacity: 10;
}
                            /* app icon */
.app-icon{
    height: 35px;
    width: 84.5%;
    overflow: hidden;
    float: left;
}

.app-icon .bg-color:hover{
    background-color: rgb(73, 71, 71);
}

.app-icon > .pd-app{
    padding: 10px 10px;
}

.app-icon > i {
    color: #ffff;
}

.app-icon > .window-logo:hover{
    color: rgb(250, 59, 97);
    
}

.search{
    transform: rotate(90deg);
}

.app-icon .bg-hover{
    border-bottom: 2px solid rgb(250, 59, 97);
    padding: 7px 10px;
    font-size: 17px;
}

.app-icon .folder{
    color: yellow;
}

.app-icon .chrome{
    color: rgb(0, 204, 255);
}

.app-icon .store{
    border: none !important;
}
                            /* System icon */
.system-icon{
    height: 35px;
    width: 15.5%;
    overflow:hidden;
    float: right;
}

.system-icon  .pd-system{
    padding: 10px 7px;
}

.system-icon i{
    color: #ffff;
    font-size: 15px;
}

.system-icon .btn-prps{
    outline: 0;
    border: 0;
    background-color: #333;
}

.system-icon .bg-sys-color:hover{
    background-color: rgb(73, 71, 71);
}

.wi-fi-con{
    transform: rotate(-45deg);
}

#time{
    color: #ffff;
}

.windows-pannel::after{
    content: "";
    clear: both;
    display: table;
}

                               /* right-system Menu */
.right-system-menu-tray{
    float: right;
    width: 260px;
    height:94.7vh;
    overflow-y: scroll;
    background-color: rgb(39, 37, 37);
}
.right-system-menu-tray::-webkit-scrollbar{
                            
  width: 2px;
  border-radius: 20px;
}
::-webkit-scrollbar:hover{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

                             /* software drawer */
.software-drawer{
    height: 80px;
    width:100%;
    background-color:inherit;
}

.software-categories{
    padding:13px 0 5px 4px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}

.software-categories:hover{
    background: linear-gradient(90deg, rgb(51, 51, 51) 67%, rgb(37, 37, 37) 100%, rgba(255,255,255,1) 100%);
}

.soft-tray{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.soft-tray:hover{
    background: linear-gradient(90deg, rgb(51, 51, 51) 67%, rgb(37, 37, 37) 100%, rgba(255,255,255,1) 100%);
}

.logo-section{
    padding: 5px 0 1px 4px ;
}

.soft-nam{
    font-size:12px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

.hash-pd{
    padding:10px 15px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}

.hash-pd:hover{
    background: linear-gradient(90deg, rgb(51, 51, 51) 67%, rgb(37, 37, 37) 100%, rgba(255,255,255,1) 100%);
}

.down-arrow{
    margin-left: 110px;
    font-size:17px;
    color:#fff;
}

.sub-cate-folder{
    padding: 5px 0 1px 8px ;
}

.down-arrow-chrome{
    margin-left: 117.5px;
    font-size:17px;
    color:#fff;
}

.down-arrow-conexant{
    margin-left: 139.5px;
    font-size:17px;
    color:#fff;
}
.down-arrow-dolby{
    margin-left: 160.5px;
    font-size:17px;
    color:#fff; 
}

.down-arrow-git{
    margin-left: 175.5px;
    font-size:17px;
    color:#fff;
}

.down-arrow-github{
    margin-left: 131px;
    font-size:17px;
    color:#fff
}

.period-apps{
    font-family: 'Open Sans', sans-serif;
    color:rgb(241, 108, 135);
    font-weight: 600;
}

                            /* Search bar Windows Pannel Left-Side  */
.search-bar-windows-pannel-left-side{
    height: 94.65vh;
    width: 56.7%;
    background-color: #333;
    position:absolute;
    left: 3.5%;
}


                            /* Search bar-header Windows Pannel Left-Side */
.search-bar-header{
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    border-bottom:1px solid rgb(31, 31, 31);
}


.search-bar-header .item{
    float:left;
    color: rgb(194, 194, 194);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    margin-left: 10px;
}

.search-bar-header .item:hover{
    color:#fff;
}

.search-bar-header .active{
    color: #fff;
    border-bottom: 4px solid rgb(255, 0, 51);
}

                                /* right-search-bar-header  */
.right-search-bar-header{
    float: right;
    margin-right: 5px;
}

.right-icon{
    float:left;
    color: rgb(194, 194, 194);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}

.right-icon:hover{
    color:#fff;
}

.right-search-bar-header .right-icon > i{
    font-size:14px;
    font-weight: 400;
}

                    /* More Sub-Option Search bar-header Windows Pannel Left-Side */
.more-sub-option{
    position: absolute;
    top:7.5%;
    left: 40%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    width:15%;
    /* background-color:chartreuse; */
    border:1px solid rgb(109, 109, 109);
    background-color: rgb(49, 49, 49);
    z-index: 100;
}

.more-sub-option ul li{
    margin: 5px 0;
    padding: 6px 10px;
    list-style-type:none;
}

.more-sub-option ul li:hover{
    background-color: rgb(88, 88, 88);
}

.form-shadow{
    height:94.65vh;
    width: 100%;
    background:rgba(184, 184, 184, 0.2);    
    position:absolute;
    top:0;
    left: 0;
    z-index: 99;
}

.main-form-feedback{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    cursor: pointer;
    width: 50%;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    z-index: 100;
}

.main-form-feedback h2{
    padding: 10px 15px;
    font-size: 21px;
    font-weight: 900;
}

.main-form-feedback .radio-btn{
    display:inline-block;
    margin: 0 0 10px 15px;
} 

.main-form-feedback textarea{
    height: 110px;
    width: 92%;
    padding: 8px 6px; 
    margin: 0 0 10px 15px;
    border: 1px solid rgb(189, 189, 189);
    outline: 0;
    font-size: 14px;
}

.main-form-feedback .report-link{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    display:block;
    color: red;
    text-decoration: none;
}

.submit-btn{
    width:43%;
    padding: 7px 0;
    text-align: center;
    border:0;
    outline: 0;
    background-color: rgb(165, 25, 25);
    color: #fff;
    font-size: 18px;
    cursor:pointer;
}
.cancel-btn{
    width:43%;
    padding: 7px 0;
    text-align: center;
    border:0;
    outline: 0;
    font-size: 18px;
    background-color:rgb(209, 208, 208);
    cursor:pointer;
}

                    /* More Sub-Option last-Option-3dot-header Windows Pannel Right-Side  */
.option-3dot{
    width: 31.5%;
    /* background-color: chartreuse; */
    position: absolute;
    right: 2%;
    top: 7.7%;
    border: 1px solid grey;
    background-color: rgb(44, 44, 44);
    z-index: 100;
}

.option-3dot h3{
    padding: 8px 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color:#fff;
}

.option-3dot p{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    padding: 1px 10px;
    color:rgb(161, 160, 160);
}

.option-3dot hr{
    margin: 15px 10px;
    border:none;
    width: 91%;
    height: 1px;
    background: grey;
    /* margin: auto; */
}

 .manage-account{
    padding:8px 10px;
    color: #fff;
}

.manage-account:hover{
    background-color: rgb(94, 94, 94);
}

.build-info{
    padding: 10px 10px;
    color:rgb(161, 160, 160);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

                              /* user-profile-account-details */    
.user-profile-account-details{
    position: absolute;
    top: -68.9%;
    left: 0;
    /* background-color:chartreuse; */
    border:1px solid black;
    width: 100%;
}

.change-account-user{
    margin: 5px 0;
    padding:8px 15px;
    color:#fff;
}

.change-account-user:hover{
    background-color:rgb(95, 94, 94);
}

.change-account-user span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.user-profile-account-details hr{
    border:none;
    width: 88%;
    height: 1px;
    background: grey;
    margin:5px auto;
}

.admini-user{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color:#fff;
}

.admini-user > i{
    font-size: 2.2rem;
    margin-left: 0px;
    margin-right: 10px;
}

.admini-user > p{
    font-size: 12px;
}

                             /* System-Power-Icon-sub-categories */
.System-Power-Icon-sub-categories{
    position: absolute;
    top: 31.7%;
    left: 0;
    background-color:#333;
    border:1px solid black;
    width: 100%; 
    z-index: 10;
}

.power-off{
    margin: 5px 0;
    padding:8px 15px;
    color:#fff;
}

.power-off:hover{
    background-color:rgb(95, 94, 94);
}

.power-off > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.power-off > .dir-change{
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

                      /* Search bar apps-drawer Windows Pannel Left-Side  */
.searchbar-apps-drawer-windows-pannel{
    width: 100%;
    /* background-color: chartreuse; */
    position: relative;
}

.top-apps{
    width: 100%;
    font-weight:bold;
}

.top-apps > h1{
    padding: 25px 0 10px 20px;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    font-weight:600 !important;
}

                                     /* app-cover */

.app-cover{
    width: 97%;
    margin: 0px 20px;
    /* background-color: chartreuse; */
    display:flex;
}

.card-1{
    width: 140px;
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 3px;
    padding: 10px 0;
    margin-right: 8px;
}

.card-1 > img{
    display: block;
    margin: 0 auto;
    margin-bottom: 8px; 
}

.card-1 > h4{
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: normal !important;
}

.card-1:hover{
    background: rgb(114, 114, 114);
}

                                /* quick-searches-tab-on-web */

.quick-searches{
    width: 97.7%;
    margin: 0px 20px;
    /* background-color: chartreuse; */
}

.quick-search-card-1{
    width: 97.5%;
    padding: 15px 15px;
    border-bottom: 1px solid rgb(109, 109, 109);
    font-size: 2em;
    color: #fff;
    display:flex;
    align-items: center;
}

.quick-search-card-1 > span{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal !important;
}

.quick-search-card-1:hover{
    background: rgb(114, 114, 114);
    border-radius: 3px;
    border-top-right-radius: 1.7px;
    border-top-left-radius: 1.7px;
}

                                    /* Search-bar  */
.type-search{
    position: relative;
}

.search-bar-windows-search-panel{
    padding: 7px 40px;
    width: 56.7vw;
    border: 1px solid grey;
    outline:1px solid red;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 80px;
}

.search-bar-windows-search-panel:focus{
    outline:none;
}

.search-btn-intype-search{
    font-size: 17px;
    position:absolute;
    top: 90px;
    left: 13px;
}